@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&display=swap');


:root {
  --main-color: rgb(0, 0, 0);
  --color-tertiary: rgba(255, 255, 255, .9);
  --color-primary: rgb(33, 36, 33);
  --clr: rgb(54, 67, 67);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: var(--clr);
  color: var(--color-tertiary);
  min-height: 100%;
  position: relative;
}

.logo {
  font-size: 2rem;
  padding: 2rem;
  width: 100%;
  height: 5rem;
  font-family: fantasy;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
}

.task {
  background-color: var(--clr);
  width: 100%;
  padding: 1.5rem 0;
}

/* .task__add {
  background-color: var(--color-primary);
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 95%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
} */

.task__add-btn {
  position: fixed;
  bottom: 3rem;
  left: 50%;
  right: 50%;
  font-size: 3.5rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--color-tertiary);
  color: var(--main-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.task__lists {
  background-color: var(--color-primary);
  list-style: none;
  width: 98%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 15rem);
}

.task__list {
  font-size: 1.2rem;
  font-weight: 400;
  border: 0.1px solid var(--clr);
  height: 12rem;
  width: 85%;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 3rem;
}

.task__texts {
  padding: 1rem;
  text-align: left;
}

.task__added {
  width: 100%;
  border-radius: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--color-tertiary);
  color: var(--main-color);
}

.task__date {
  font-size: 1.4rem;
  font-weight: 500;
}

.task__date span:nth-child(2) {
  font-weight: bolder;
}

.task__added button {
  font-size: 1.3rem;
  height: 3rem;
  width: 7rem;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  border-radius: 2px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.overlay {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  align-items: center;
  justify-content: center;
}

.input-box {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.textArea-box {
  height: 16rem;
  width: auto;
}

#textArea {
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  height: 15rem;
  border: none;
  outline: none;
  resize: none;
  padding: .5rem;
}

.input-box button {
  font-size: 1.3rem;
  height: 4rem;
  width: 7rem;
  border-radius: 2px;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: pointer;
}

.cancel {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.error-message {
  font-size: 1.5rem;
  font-weight: 600;
  color: red;
  display: none;
}